<ion-header class="home-card">
    <ion-toolbar>
      <ion-title>
        DINASTY Forum Berita Teknologi
      </ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>
    <h4>Berita Yang Mungkin Anda Cari</h4><br>
    <h4>KATEGORI</h4>
    <ion-card class="none">
      <ion-list-header>
        <h4>Laptop</h4>
      </ion-list-header>
    </ion-card>
    <ion-card class="none1">
      <ion-list-header>
        <h4>Aplikasi</h4>
      </ion-list-header>
    </ion-card>
    <ion-card class="none2">
      <ion-list-header>
        <h4>Bahasa Pemrograman</h4>
      </ion-list-header>
    </ion-card>
    <ion-card class="none3">
      <ion-list-header>
        <h4>Jaringan</h4>
      </ion-list-header>
    </ion-card>
    <ion-card class="none4">
      <ion-list-header>
        <h4>Game</h4>
      </ion-list-header>
    </ion-card>
    <ion-card class="none5">
      <ion-list-header>
        <h4>Animasi</h4>
      </ion-list-header>
    </ion-card>
</ion-content>
