.home-card ion-title{
    color: red;
  }
  .none ion-list-header{
    max-height: 35vh;
    overflow: hidden;
    background: red;
    color: black;
    text-align: center;
}
.none1 ion-list-header{
  max-height: 35vh;
  overflow: hidden;
  background: yellow;
  color: black;
  text-align: center;
}
.none2 ion-list-header{
  max-height: 35vh;
  overflow: hidden;
  background: green;
  color: black;
  text-align: center;
}
.none3 ion-list-header{
  max-height: 35vh;
  overflow: hidden;
  background: turquoise;
  color: black;
  text-align: center;
}
.none4 ion-list-header{
  max-height: 35vh;
  overflow: hidden;
  background: blue;
  color: black;
  text-align: center;
}
.none5 ion-list-header{
  max-height: 35vh;
  overflow: hidden;
  background: aqua;
  color: black;
  text-align: center;
}