<ion-header class="home-card">
    <ion-toolbar>
      <ion-title>
        DINASTY Forum Berita Teknologi
      </ion-title>
    </ion-toolbar>
    <br><button class="button button-small button-positive">DAFTAR</button>
  </ion-header>
  <ion-content padding class="back">
 <ion-content class="padding has-header">
      <br><div class="item" align="center">Selamat Datang</div>
        <div class="list">
           <label class="item item-input">
           <input type="text" placeholder="Nama">
           </label>
 
           <br><label class="item item-input">
           <input type="text" placeholder="NO.HP">
           </label>
 
           <br><label class="item item-input">
           <input type="text" placeholder="EMAIL">
           </label>
 
           <br><label class="item item-input">
           <input type="text" placeholder="PASWORD">
           </label>       
        </div>
        <button class="button button-small button-positive">MASUK</button>
        <h3>Atau Daftar Dengan</h3>
        <div class="list card">
          <a class="item-item-icon-left">
            <i class="icon ion-social-facebook-outline"></i>
            Facebook
          </a>
          <div class="list card">
            <a class="item-item-icon-left">
              <i class="icon ion-social-twitter-outline"></i>
              Twitter
            </a>
            <div class="list card">
              <a class="item-item-icon-left">
                <i class="icon ion-social-instagram-outline"></i>
                Instagram
              </a>
        </div>
<ion-content>
  </ion-content>

