<ion-header class="home-card">
    <ion-toolbar>
      <ion-title>
        DINASTY Forum Berita Teknologi
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="background">
      <ion-card class="welcome-card">
          <ion-card-content>
              <p>Terbaru</p>
              <br><h4>ASUS mengeluarkan laptop Game terbaru</h4>
            </ion-card-content>
        <ion-img src="/assets/im6.JPG"></ion-img><br>
        <ion-card-content>
            <p>Tranding</p>
            <br><h4>Blackbary Masangger(BBM) Gulung tikar</h4>
          </ion-card-content>
        <ion-img src="/assets/im5.JPG"></ion-img>
      </ion-card>
      <ion-card class="none">
        <ion-list-header>
          <h4>Favorit</h4>
        </ion-list-header>
        <ion-card-content>
            <p>FLUTTER bahasa pemrograman baru yang diciptakan Google</p>
          </ion-card-content>
      <ion-img src="/assets/im4.png"></ion-img>
      <ion-card-content>
          <p>Ionic adalah sebuah framework aplikasi mobile berbasis HTML5</p>
        <br></ion-card-content>
      <ion-img src="/assets/im41.jpeg"></ion-img>
      </ion-card>
  </ion-content>
